body{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background-color: whitesmoke;
}

.shadow{
    height: 100%;
    width: 100vw;
    transition: opacity 1s;
    opacity: 0;
    z-index: 11;
    pointer-events: none;
    position: fixed;
    /* left: -100vw; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

ul{
    list-style-type: none;
    position: relative;
    left: -4vw;
    display: none;
    transition: 15s;
}

.ul-activate{
    display: block;
}

.shadow-activate{
    opacity: 1;
    /* z-index: 11; */
    pointer-events: auto;
    /* left: 0; */
    /* transition: left 0s 1s; */
}

.header{
    background-color: rgba(0,0,0,0);
    height: 5vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 11;
}

.sidebar{
    display: none;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

a{
    text-decoration: none;
    color: white;
}

.menu{
    height: 4vh;
    width: 25vw;
    background-color: black;
    position: fixed;
    top: 0.5vh;
    left: 0vw;
    z-index: 20;
    transition: 1s;
}

.menu-activate{
    z-index: 20;
    transform: rotate(180deg);
}

.cart{
    height: 4vh;
    width: 25vw;
    background-color: black;
    position: fixed;
    top: 0.5vh;
    left: 75%;
    z-index: 1;
}

.main{
    position: relative;
    top: 5vh;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.picture{
    height: 95vh;
    width: 100vw;
    background-image: url("../img/scream.png");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    z-index: 1;
    position: fixed;
    top: 5vh;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    height: 95vh;
    width: 100vw;
    position: absolute;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.box{

    margin: 25px;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 5;
    opacity: 1;
    transition: opacity 0s 1s;
    
}

p{
    color: black;
    display: none;
    
}

.box:hover p{
    display: flex;
}

.box-active{
    /* z-index: 0; */
    opacity: 0;
    
}

